body {
    background: linear-gradient(0deg, #F6F2FF, #F6F2FF), #FBFAFF;
    width: 100vw;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
}

.heading {
    width: 100%;
    height: 62%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20%;
}

.events-text {   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h1 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 55px;
    color: #240D57;
}

h2 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #828282;
}

.host-text {
    font-weight: 600;
    color: #5d5d5d;
} 

.img-container { 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20%;
}

.cake-img {
   width: 100%;
}

.dates-container {
    height: 80%;
}

.event {
    width: 100%;
    height: 20%;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.date-info {
    display: flex;
    flex-direction: column;
}

/* .date-info-text {
    width: 100%;
} */

.start-date,
.first-location {
    font-weight: 600;
    color: #240D57;
}

.end-date,
.second-location {
    color: #4F4F4F;
}

.start-date,
.first-location,
.end-date,
.second-location  {
    margin: 2%;
    font-family: 'Helvetica';
    font-style: normal;
}
